<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventarios</servlet-name>
        <servlet-class>com.farmacia.control.Inventarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>com.farmacia.control.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Documentos</servlet-name>
        <servlet-class>com.farmacia.control.Documentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte_producto</servlet-name>
        <servlet-class>com.farmacia.reportes.Reporte_producto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventarios</servlet-name>
        <url-pattern>/Inventarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Documentos</servlet-name>
        <url-pattern>/Documentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte_producto</servlet-name>
        <url-pattern>/Reporte_producto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>&gt;Login</welcome-file>
    </welcome-file-list>
</web-app>
